/* src/App.css */
.report-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 10px;
}

.reports-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* src/App.css */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}
/* Styling untuk Sidebar */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #343a40;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar h3 {
  color: white;
  text-align: center;
}

.sidebar .nav-link {
  color: white;
}

.sidebar .nav-item:hover {
  background-color: #495057;
}

/* Styling untuk Topbar */
.topbar {
  background-color: #343a40;
  padding: 20px;
  color: white;
  text-align: center;
}

/* Styling untuk Tabel */
.table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
  text-align: center;
}

.table th {
  background-color: #f4f4f4;
}

.table button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.table button:hover {
  background-color: #ddd;
}
